
@font-face {
   font-family: TiltWarp;
   src: url(font/TiltWarp-Regular.ttf);
}
@font-face {
   font-family: 'Heebo';
   src: url(font/Heebo-Regular.ttf);
}

@font-face {
   font-family: 'TiltWarpgras';
   src: url(font/TiltWarp-Regular.ttf);
   font-weight: bold;
}
@font-face {
   font-family: 'Strange';
   src: url(./font/Strange Dreams Italic.ttf);
   font-stretch: semi-condensed;
   font-style: italic;
   	font-weight: 900;
}
 
@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

:root {
  --blue: #6495ed;
  --white: #faf0e6;
}


/*   Styles Généraux */
  *{
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }

  body{
  	position: relative;
  	background-color: #e6e6fa;
  	width: 100vw;
  	min-height: 100vh;
  	overflow: 0px;
  	font-family: Roboto, sans-serif;
  	font-size: 1.8rem;
  }
  img{
/*  Centrer une image	*/
  	display: block;
  	margin-left: auto;
  	width: 100%;
  	height: auto;
  }
  a{
  	cursor: pointer;
  	text-decoration: none;
  }

  .centrer{
  	align-self: center;
  	text-align: center;
  }

  main i{
  	font-family: 4rem;
  	color: lime;
  }
 /*p::first-line {
  color: #4faf9f;
  font-variant: small-caps;
}*/
/*p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}
p::marker {
  color: teal;
  font-size: 23px;
}
p::selection {
  color: darkslategrey;
  background: lightcyan;
  opacity: 50%;
}
q:lang(no) {
  quotes: "*" "*";
}
*/
  .column-center{
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
  	align-items: center;
  }
  .row-center{
  	display: flex;
  	justify-content: center;
  	align-items: flex-start;
  }
  .row-spBetween{
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
  .row-center{
  	display: flex;
  	justify-content: center;
  	align-items: flex-start;
  }


  .carte-bordure{
  	border: 1px solid orangered;
  	box-shadow: 1px 1px 6px 0 yellowgreen;
  }

  .ul-bio{
  	list-style: none;
  	width: 25%;
  	height: 150px;
  }
  .bio__enfant--img{
  	width: 25%;
  }



/*  Navigation   */
nav{
  position: fixed;
  width: 100%;
	min-height: 50px;
	margin-top: -50px;
	padding-inline: 12px;
	z-index: 999;
	background-color: #bccad6;
}

.nav-rs{
	width: fit-content;
	align-self: center;
	padding-left: 2px;
}
.nav-rs a{
	width: 200px;
	height: 30px;
}

nav .navigation{
	/*display: flex;
	width: fit-content;
	height: 50px;*/
  overflow: hidden;
}

nav .navigation li {
  float: left;
  display: block;
	margin-inline: 2px;
	list-style: none;
	text-align: center;
	align-self: center;
	height: 50px;
}
.navigation li.active{
	background-color: turquoise;
}
.navigation .icon {
  display: none;
}

 nav ul li a{
	display: block;
	padding-block:20px;
	width: 100px;
	height: 100%;
	background-color: blue;
	font-family: TiltWarpgras, sans-serif;
	/*  	transition: color 1s;*/
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-delay: 0.1s;
  transition-property: background-color;
}
   /* unvisited link */
nav ul li a:link {
  color: red;
}

/* visited link */
nav ul li a:visited {
  color: #92a8d1;
}

/* mouse over link */
nav ul li:hover a{
	color: orange;
  border: 1px solid lime;
  background-color: #92a8d150;
}

/* selected link */
nav ul li a:active {
  color: blue;
} 


/*   Header    */
header{
	position: relative;
	width: 100%;
	min-height: 250px;
	margin-top: 50px;
}
.logo{
	height: 150px;
	width: 50%;
	justify-content: space-between;
	margin: 6px ;
}
.logo figure{
	width: 150px;
	border-bottom: 2px solid var(--blue); 
}

.logo h1{
	width: 400px;
	font-size: 3rem;
/*	font-family: Tilt, Arial, Cursive;*/
	font-family: 'Heebo', sans-serif;
	text-align: center;
	align-self: center;
	color: #4b0082;
	text-shadow: 0px 0px 2px hsl(200,100%,50%);
}
.text-accueil{
	width: 100%;
	margin: 12px 0;
	background-color: orange;

}


/*   Flash info */
.news__flash{
	display: flex;
	min-width: 100%;
	height: 75px;
	border-block: 1rem solid red;
	overflow: hidden; 
}

.news__flash a{
	display: inline-block;
	margin: 6px 2px;
	font-size: 20px;
	min-width: fit-content;
	padding-inline: 3px;
	text-align: center;
	align-self: center;
}

.news__flash a::before,
.news__flash a::after{
	content: "⚡️";
	display: inline-block;
	width: 25px;
	height: 25px;
}
.news__flash--defilement{
	display: flex;
	min-width: fit-content;
	overflow: visible;
	height: 75px;
	border-block: 1rem solid red;
	text-align: center;
	align-self: center;
	animation-delay: 0s;
	animation-name: example;
	animation-fill-mode: backwards;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal; /*reverse; alternate; alternate-reverse; */
}
@keyframes example {
  0%{transform: translateX(100%);}
  17%{transform: translateX(50%);}
  34%{transform: translateX(0%);}
  51%{transform: translateX(-50%);}
  68%{transform: translateX(-100%);}
  85%{transform: translateX(-150%);}
  100%{transform: translateX(-200%);}
}



/*   Main    */
main{
	width: 100%;
	min-height: 600px;
}
main.index section{
	width: 100%;
	min-height: 450px;
	border: 1px solid papayawhip;
	margin-bottom: 6px;
}

.tricar{
	justify-content: space-around;
}
.tricar article{
	width: 400px;
	min-height: 250px;
	border-image: url(../illustrations/border-image.png) 30 round;
	border-width: 30px;
}

.tricar article h2{
	text-align: center;
	line-height: 40px;
	margin-top: 6px;
	 /*text-decoration-line: overline;
	 text-decoration-style: wavy;*/
	 text-transform: capitalize;
	color: whitesmoke;
	font-family: 'Rubik', sans-serif;

	border-radius: 12px;
	background-color: #2d89ef;
}
.tricar article div{
	margin-top: 12px;
	width: 100%;
}
.tricar article div figure{
	width: 100%;
}


.imglat-txt__texte figure img{
	height: 400px;
}

.tricar article div .img-gauche img{
	float: left;
}
.tricar article div .img-gauche img{
	clear: right;
}
.tricar article div p{
	width: 100%;
 	white-space: wrap;
 	text-indent: 5%;
 	text-rendering: geometricPrecision;
 	line-height: 15px;
  overflow: visible;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  color: saddlebrown;
  background-color: honeydew;
  font-family: Strange;
  font-size: 1.7rem;
 }
/*--------------------*/

/*   Texte et image */
.image-texte{
	width: 100%;
min-height: 400px;
}
.image-texte__01{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 300px;
	margin:12px 0;
	padding-inline: 12px;
}

.image-texte__01 figure{
width: 30%;
min-height: 300px;
text-align: center;
vertical-align: middle;
object-fit: cover;
}
.image-texte__01 div.image-texte__txt{
	width: 60%;
	height: 300px;
	padding-inline: 12%;
	background-color: #20b2aa10;
	clip-path: polygon(0% 0, 80% 0, 100% 100%, 20% 100%);
	box-shadow: 0.1rem 0.1rem 6px #00bfff05 inset, -0.1rem -0.1rem 6px #00bfff05;
}
.image-texte__01 div.image-texte__txt:nth-child(1){
	clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
}
/*   Partenaires */
.text-logo{
	min-height: 220px;
	background-color: thistle;
}
.text-log__cont{
	width: 100%;
	justify-content: space-around;
}
.text-log__cont--01{
	justify-content: space-between;
	box-shadow: 0px 0px 2px 1px black;
	width: 30%;
	min-height: 150px;
}
.text-log__cont--01 figure{
	width: 35%;
	align-self: center;
	margin-left: 6px;
}
.text-log__cont--01 div{
	width: 70%;
}

.text-log__cont--01 div p,
.text-log__cont--01 div h3{
	margin-left: 12px;
	padding-block-end: 30px;
	
}

/*--------------------*/
/*  Staff    */
.quadracar__carousel{
	padding: 50px;
	width: 100%;
	min-height: 200px;
}

.quadra--card__img{
	display: flex;
	width: 100%;
	min-height: 110px;
	padding-inline: 12px ;
	border-radius: 48px;
	background-color: blue;
}
.quadra--card__img figure{
	width: 30%;
	
	/*-webkit-mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);*/
  outline: 4px ridge powderblue;
	 outline-offset: 15px;
	border-radius: 50%;
}

.quadra--card__img figure img{
	object-fit: cover;
  object-position: 0% 0%;
}
.quadra--card__img div{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: lightgray;
	width: 60%;
}


/*   footer   */
footer{
	width: 100%;
	min-height: 250px;
	background-color: #034f84;
	padding: 12px;
}

footer div{
	width: 100%;
}

footer .service__container--footer{
	min-height: 200px;

/*	border: 2px dashed #fff2df;*/
}
footer .service__container--footer section{
		border: 10px solid gray;
  	box-shadow: 1px 1px 6px 0 gray;
  	min-height: 200px;
  	width: 20%;
  	text-align: center;
  	margin-inline: 12px;
}
.service__container--footer section h2{
	align-self: center;
	background-color: #a2836e;
	border-radius: 3px;
}
.service__container--footer section ul{
  	list-style: none;
  	padding-inline: 6px;
  	color: #fff;
}

.reservation ul li a{
	border: none;
	color: orange;
}

footer .addresse__container--footer{
	margin-top: 12px;
}
footer .addresse__container--footer section{
	margin-inline: 3px;
	width: 50%;
}

.contact__addresses{
	column-gap: 20px;
	width: 80%;
}
.contact__addresses address{
	margin-inline: 15%;
	width: 100%;
/*	background-color: #4682b450;*/
/*	column-width: 33.99999%;*/
}
.contact__addresses address a figure{
	width: 20%;
}
.contact__addresses address h3{
	color: blue;
	font-weight: bolder;
}

address p b{
	display: none;
	position: relative;
	width: 10px;
/*	background-color: red;*/
	margin-right: 10px;
}
/*address p b:after{
	content: "";
	width: 500px;
	border: 2px dashed transparent;
}
*/
.contact__addresses address .tel-msg{
	align-items: flex-start;
	width: 100%;
}

.tel-msg a svg{
	margin-right: 12px;
	fill: orange;
}

.addresse__container--footer section iframe{
	width: 100%;
}

.reseaux-sociaux{
	background-color: #034f84;
	align-self: center;
padding-left: 12px;
}

/*   rs    */
.rs{
	flex: 1;
}



/*   Mentions et cgu */
.cgu-ml{
	display: inline-flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: midnightblue;
	color: #622569;
}
/*---------------------------------------------------------------------------------*/
/*------------------Fin de page d'Accueil---------------*/
/*---------------------------------------------------------------------------------*/

/*     About    */
main.apropos{
	/*background-image: url("../images/thailand-sea.jpg");
	backdrop-filter: ;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-clip: border-box;
	background-repeat: no-repeat;
	background-blend-mode: color-burn;*/
	min-height: 50vh;
}

.apropos section{
	width: 100%;
	min-height: 100%;
	padding: 12px;

}
section.bio article{
	padding: 12px;
	margin-block: 12px;
	box-shadow: 1px 1px 2px 0.2px black;
}

.bio article h2{
	background-color: lightskyblue;
	text-align: center;
}




/*---------------------------------------------------------------------------------*/
/*------------------Fin de page d'Apropos ---------------*/
/*---------------------------------------------------------------------------------*/

/*   Produits */
main.produits{
	width: 100%;
}
main.produits section{
	display: flex;
	margin-inline: 10%;
	width: 80%;
}

.basket{
	display: flex;
	flex: 1 1 0;
	align-items: center;
	max-width: 45rem;
	background-color: #fff;
	margin: 2rem;
	padding: 2.5rem;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
}

.basket__img{
	position: relative;
	min-width: 22rem;
	max-width: 22rem;
	height: 19rem;
	transform: translateX(-8rem);
/*	resize: both;*/
  overflow: auto;
}

.basket__img img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 0.8rem;
	-webkit-box-reflect: right;
	box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.basket__img::before{
	content: "";
	position: absolute;
	inset: 10rem;
/*	background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
	box-shadow: 0.5rem 1.5rem 3rem 1px rgba(0,0,0,0.05);
	border-radius: 0.8rem;
	opacity: 0.5;
}

.basket__prix span{
	display: inline-block;
	color: #8e8c8c;
	font-weight: 600;
	font-size: 4rem;
	margin: 0.5rem 0;
}

.basket__marque{
	font-size: 3rem;
	margin: 1.5rem 0 2rem;
	text-transform: uppercase;
	color: #4facfe;
}

.basket__info{
/*	bleed: 2rem;*/
padding-left: 6px;
	background-color: mintcream;
/*	box-shadow: inset 0 1.4rem 8rem currentcolor;*/
}

.basket__info p,
.basket__info a{
	margin-bottom: 3rem;
	color: rgba(0,0,0,0.7);
}

.basket__cta{
	display: inline-block;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	padding: 1.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0.8rem;
}

.basket__cta:hover{
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}


/*   section.aldi__card  */
section.aldi__card{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
}

.aldi__card--art{
	position: relative;
	float: left;
	width: 22%;
	height: 300px;
	background-color: grey;
	box-shadow: 1px 1px 2px 0 #c1c1c5;
}
.aldi__date{
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	color: #fff;
	text-align: center;
	align-self: center;
/*	padding-block: 15px;*/
	background-color: seagreen;
}
figure.aldi__img--produit{
	position: absolute;
	width: 100%;
	bottom: 0;
	right: 0;
}

div.aldi__info--produit{
	width: 100%;
	height: 60%;
	position: absolute;
	display: flex;
	align-items: flex-end;
	bottom: 0;
	left: 0;
}
div.aldi__produit--prix{
width: 35%;
margin: 3px;
}
figure.prix__ecolabel{
	width: 25px;
	align-self: flex-start;
}
div.prix__reduction--pourcent{
	width: 100%;
	height: 30%;
	align-self: center;
	text-align: center;
	font-size: 3rem;
	font-weight: 900;
	background-color: yellow;
	flex: 1;
}

div.produit__prix{
	width: 90%;
	background-color: red;
}
del div.prix__plein{
	width: 40%;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}
div.prix__final{
	align-self: center;
	text-align: center;
	font-size: 3.2rem;
	color: white;
}
div.produit__quantite{
	font-size: 1rem;
	color: white;
}


div.aldi__produit--nom{
	font-size: 1rem;
	border-bottom: 0;
	margin: 3px;
}
h4.nom__produit{
	font-family: 'Antonio', sans-serif;
	font-size: 1.2rem;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
h3.type__produit{
	font-size: 1.4rem;
	font-weight:bold;
	flex: 1;
}

/*---------------------------------------------------------------------------------*/
/*------------------Fin de page Gallerie ---------------*/
/*---------------------------------------------------------------------------------*/

/*   Gallerie */
main .gallerie {
	width: 100%;
	
	display: grid;
	min-height: 600px;
	grid-template-columns: repeat(4,25%);
	grid-auto-flow: row;
	gap: 0px;
	overflow-wrap: normal;
}
.responsive {
  padding: 6px;
  float: left;
  width: 100%;
  margin:3px 12px;
}

.responsive a{
	display: block;
	border: 1px solid #ccc;
}

.responsive a:hover {
  border: 1px solid #777;
}

.responsive figcaption{
  padding: 15px;
  text-align: center;
  display: none;
}


@media only screen and (max-width: 700px) {
  .responsive {
    margin: 6px 0; 
 }
  main .gallerie{
  grid-template-columns: repeat(2,49.99999%);
}
}

@media only screen and (max-width: 500px) {
  main .gallerie
  {
  grid-template-columns: repeat(1,100%);
}
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*---------------------------------------------------------------------------------*/
/*------------------Fin de page Produits ---------------*/
/*---------------------------------------------------------------------------------*/
/*    Blog    */
main.blog{
	display: flex;
	width: 100%;
}

main.blog aside{
	width: 20%;
	box-shadow: inset 0 0 1px 0.2px black;
}

main.blog section{
	width: 80%;
}

.deroulant{
	width: 100%;
  position: relative;
  display: inline-block;
 margin: 10% 10% 0;
 /*  transform: translateX(-25%);*/
}

button.deroulant--bouton{
  background-color: #4C42f2;
  color: white;
  width: 80%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

menu.cat--container {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.cat--container a {
  color: black;
  padding-block: 12px 16px;
  display: block;
  
}

.cat--container a:hover {
	background-color: whitesmoke;
	box-shadow: 0 0 1px 0.2px black;
	margin-bottom: 2px;
	color: #4C42f2;
	width: 100%;
}

.deroulant:hover menu.cat--container{
  display: block;
  text-align: center;
  box-shadow: 0 0 1px 0.2px black;
}

.deroulant:hover .deroulant--bouton {
  background-color: whitesmoke;
  color: #4C42f2;
}
/*---------------------------------------------------------------------------------*/
/*------------------Fin de page Blog ---------------*/
/*---------------------------------------------------------------------------------*/



/*   Faq    */





/*---------------------------------------------------------------------------------*/
/*------------------Fin de page Faq ---------------*/
/*---------------------------------------------------------------------------------*/

/*   Contact    */
.contact__body{
	background-image: url(../images/maldives.jpg);
	background-repeat: no-repeat;
	background-clip: border-box;
	min-height: 50vh;
}
main.contact{
	width: 100%;
	min-height: 100%;
}
.contact section{
	min-width: 100%;
	min-height: 200px;

}

.contact section form{
	width: 50%;
	min-height: 100%;
	margin: 12px 25%;
	box-shadow: 0.1px 0.1px 2px 0 black;
}

.contact section form fieldset{
	width: 100%;
	min-height: 100%;
}
.client__info,
.client__msg{
	min-width: 50%;
	height: 100%;
	padding: 12px;
	border: 0.1px solid lightseagreen;
	border-bottom: none;
}
.client__info{
border-left: none;
}
.client__msg{
border-right: none;
}

.client__info label{
	width: 100px;
}
.client__info input{
	width: 200px;
}




div.bouton{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 50px;
	background-color: lightseagreen;
}

div.bouton input{
	width: 150px;
	height: 40px;
	align-self: center;
	border: none;
	border-radius: 24px;
	background-color: #c0c0c0;
}
div.bouton input[type="submit"]:hover{
	background-color: #00ff7f;
}div.bouton input[type="reset"]:hover{
	background-color: #ff6347;
}

/*---------------------------------------------------------------------------------*/
/*------------------Fin de page Contact ---------------*/
/*---------------------------------------------------------------------------------*/

/*   Les médiaQueries */

@media screen and (max-width: 1068px){

/*	index   */

/*	apropos   */
/*	produits   */
.basket{
		max-width: 40rem;
	}
	.basket__img{
		min-width: 15rem;
		max-width: 15rem;
	}
/*	gallerie   */
/*	blog   */
/*	faq   */
/*	contact   */
	
/*_________________________________*/
}

@media screen and (max-width: 868px){
/*	index   */
/*  Navigation   */
nav{
	
}
nav ul{
}

nav ul li{
	margin-inline: 6px;
	list-style: none;
}
nav ul li a{
	height: 50px;
}
/*	apropos   */
/*	produits   */
.basket{
		max-width: 35rem;
	}
/*	gallerie   */
/*	blog   */
/*	faq   */
/*	contact   */

/*_________________________________*/
}

@media screen and (max-width: 768px){
	/*	index   */
/*	apropos   */
/*	produits   */
.basket{
		max-width: 25rem;
		flex-direction: column;
	}
	.basket__img{
		max-width: 100%;
		transform: translate(0, -8rem);
	}
/*	gallerie   */
/*	blog   */
/*	faq   */
/*	contact   */


/*_________________________________*/
}

@media screen and (max-width: 640px){
	/*	index   */
	body{
		font-size: 1.5rem;
	}
nav{
	position: sticky;
	width: 100%;
	flex-direction: column;
	top: 0;
}
	.nav-rs{
	width: 100%;
	align-self: center;
	text-align: center;
	margin-inline: 2px;
}
.nav-rs a{
	width: 200px;
	height: 30px;
}

nav .navigation{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: blue;
	/*display: flex;
	width: fit-content;
	height: 50px;*/
}
nav .navigation li{
	align-self: left;
	}

/*   Responsive navigation   */
  .navigation li:not(:first-child) {display: none;}
  .navigation li.icon {
    float: right;
    display: block;
  }

  .navigation.responsive {
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	width: 100%;
  }
  .navigation.responsive .icon {
    position: absolute;
    align-self: center;
    text-align: center;
    width: 100px;
    right: 6px;
    top: 6px;
  }
  .navigation.responsive li{
    float: left;
    align-self: left;
    width: 100%;
    display: block;
  }
/*_____________________ __________________ */

main .tricar{
	flex-direction: column;
	margin-block: 12px;
}

main .tricar article{
	width: 100%;
	margin-block: 3px;
}

.image-texte__01{
	flex-direction: column;
	width: 100%;
	min-height: 300px;
	align-items: flex-start;
	margin:12px 0;
}
.image-texte__01 figure{
	display: block;
	width: 100%;
	margin-block: 2px;
	padding-inline: 12px;
}
.image-texte__01 div.image-texte__txt{
	display: block;
	width: 100%;
	height: 300px;
	margin-block: 2px;
	padding-inline: 24%;
}

/*   Partenaires */
.text-log__cont{
	width: 100%;
	margin: 12px;
	min-height: 150px;
}

.text-log__cont--01{
	flex-direction: column;
	justify-content: center;
	width: 30%;
	min-height: 150px;
}
.text-log__cont--01 figure{
	width: 30%;
	align-self: center;
	margin-left: 6px;
	margin:0;
}
.text-log__cont--01 div{
	width: 100%;
}

.text-log__cont--01 div p{
	margin: 2px 2px;
	padding: 2px 2px;
}
.text-log__cont--01 div h3{
	text-align: center;
	padding: 0 2px;
	font-size: 1.8rem;
	color: blue;
}

/*  Staff    */
.quadracar__carousel{
	display: grid;
	grid-template-columns: repeat(2, 50%);
	gap: 12px;
}
.quadra--card__img{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.quadra--card__img figure{
	width: 100%;
}
.quadra--card__img div{
	flex-direction: column;
	width: 100%;
}
/*   footer   */
footer div{
	width: 100%;
}

footer .service__container--footer{
	flex-direction: column;
	margin-block-end: 6px;
}
footer .service__container--footer section{
  	width: 100%;
  	margin: 12px 0;
}


footer .addresse__container--footer{
	margin-top: 12px;
}
footer .addresse__container--footer section{
	margin-inline: 3px;
}

.contact__addresses{
	column-gap: 20px;
	width: 80%;
}

.contact__addresses address a figure{
	width: 50%;
}
address p b{
	position: relative;
	width: 10px;
/*	background-color: red;*/
	margin: 0;
}
.addresse__container--footer section iframe{
	height: 300px;
}

/*	apropos   */
/*	produits   */

/*	gallerie   */
/*	blog   */
/*	faq   */
/*	contact   */
.contact section form{
	width: 100%;
	margin:0;
}
.contact section form fieldset{
	width: 100%;
	min-height: 100%;
}
.client__info,
.client__msg{
	width: 100%;
}

.client__info label{
	width: 100px;
}
.client__info input{
	width: 100%;
	padding-inline: 6px;
}

div.bouton{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 50px;
	background-color: lightseagreen;
}

div.bouton input{
	width: 150px;
	height: 40px;
	align-self: center;
	border: none;
	border-radius: 24px;
	background-color: #c0c0c0;
}
div.bouton input[type="submit"]:hover{
	background-color: #00ff7f;
}div.bouton input[type="reset"]:hover{
	background-color: #ff6347;
}


/*_________________________________*/
}

@media screen and (max-width: 414px){/* 360*/
	/*	index   */
/*	apropos   */
/*	produits   */

/*	gallerie   */
/*	blog   */
/*	faq   */
/*	contact   */
}
.champs__form{
	width: 100%;
}

/*_________________________________*/
}

