  

/*   Styles Généraux */
  *{
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }

  body{
  	background-color: #e6e6fa;
  	width: 100vw;
  	min-height: 200vh;

  	font-family: 'Trebuchet MS', sans-serif;
  }
  img{
/*  Centrer une image	*/
  	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;

  	width: 100%;
  	height: auto;
  }

  main i{
  	font-family: 4rem;
  	color: lime;
  }

  a{
  	cursor: pointer;
  	text-decoration: none;
  }
  

   /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: whitesmoke;
}

/* mouse over link */
li:hover a{
  color: hotpink;
  border: 1px solid lime;
  background-color: limegreen;
  width: 100px;
  height: 30px;
}

/* selected link */
a:active {
  color: blue;
} 

  .column-center{
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
  	align-items: center;
  }
  .row-center{
  	display: flex;
  	justify-content: center;
  	align-items: flex-start;
  }

  .carte-bordure{
  	border: 1px solid orangered;
  	box-shadow: 1px 1px 6px 0 yellowgreen;
  }



/*  Navigation   */
nav{
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	opacity: 50%;
	height: 50px;
}
nav ul{
	width: 100%;
	height: 50px;
}

nav ul li{
	margin-inline: 6px;
	list-style: none;
}
nav ul li a{
	display: block;
	padding-block: 6px;
	color: transparent;
	text-align: center;
	align-self: center;
	width: 100px;
	height: 30px;
	background-color: blue;
}



/*   Header    */

header{
	width: 100%;
	min-height: 250px;

}
.logo{
	height: 150px;
	width: 50%;
	justify-content: space-between;
	margin: 6px ;
}
figure{
	width: 150px;
}

h1{
	width: 400px;
	font-size: 3rem;
	font-family: 'Tilt Warp', cursive;
	text-align: center;
	align-self: center;
	color: #4b0082;
	text-shadow: 0px 0px 2px hsl(200,100%,50%);
}
.text-accueil{
	width: 100%;
	margin: 12px 0;
	background-color: sienna;
}


/*   Main    */
main{
	width: 100%;
	min-height: 600px;
}
main section{
	width: 100%;
	min-height: 450px;
	border: 1px solid papayawhip;
	margin-bottom: 12px;
}

.tricar{
	justify-content: space-around;
}
.tricar article{
	width: 350px;
	min-height: 250px;
	border-image: url(../illustrations/border-image.png) 30 round;
	border-width: 25px;
}

.tricar article h2{
	text-align: center;
	line-height: 40px;
	 text-decoration-line: overline;
	 text-decoration-style: wavy;
	 text-transform: capitalize;
	color: whitesmoke;
	font-family: 'Rubik', sans-serif;

	border-radius: 12px;
	background-color: #2d89ef;
}
.tricar article div{
	margin-top: 12px;
	width: 100%;
}
.tricar article div figure{
	width: 100%;
}

.tricar article div .img-gauche img{
	float: left;
}
.tricar article div .img-gauche img{
	clear: right;
}
.tricar article div p{
	width: 100%;
 	white-space: wrap;
 	text-indent: 5%;
 	text-rendering: geometricPrecision;
 	line-height: 15px;
  overflow: visible;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  color: saddlebrown;
  background-color: honeydew;
  font-size: 0.9rem;
 }
 p::first-line {
  color: #4faf9f;
  font-variant: small-caps;
}
p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}
p::marker {
  color: teal;
  font-size: 23px;
}
p::selection {
  color: darkslategrey;
  background: lightcyan;
  opacity: 50%;
}
q:lang(no) {
  quotes: "*" "*";
}
/*--------------------*/

/*   Partenaires */
.text-logo{
	min-height: 220px;
	background-color: thistle;
}
.text-log__cont{
	width: 100%;
	justify-content: space-around;
}
.text-log__cont--01{
	justify-content: space-between;
	box-shadow: 0px 0px 2px 1px black;
	width: 30%;
	height: 150px;
}
.text-log__cont--01 figure{
	width: 30%;
}
.text-log__cont--01 div{
	width: 70%;
}

.text-log__cont--01 div p,
.text-log__cont--01 div h3{
	margin-left: 12px;
	padding-block-end: 30px;
	
}

/*--------------------*/
/*  Staff    */
.quadracar__carousel{
	padding: 50px;
	width: 100%;
	min-height: 200px;
}

.quadra--card__img{
	display: flex;
	width: 100%;
	margin-inline: 12px ;
	border-radius: 48px;
	background-color: blue;
}
.quadra--card__img figure{
	width: 35%;
	outline: 4px ridge powderblue;
	 outline-offset: 15px;
	border-radius: 50%;
}
.quadra--card__img div{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: lightgray;
	width: 60%;
}


/*   footer   */
footer{
	width: 100%;
	height: 250px;

	background-image: url("../images/main-banner.jpg");
	backdrop-filter: ;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-clip: border-box;
	background-repeat: no-repeat;
	background-blend-mode: color-burn;
}


/*   Mentions et cgu */
.cgu-ml{
	width: 100%;
	height: 50px;
	background-color: midnightblue;
	color: mintcream;
}


/*     About    */





/*   Produits */







/*   Gallerie */
main .gallerie {
	width: 100%;
	
	display: grid;
	min-height: 600px;
	grid-template-columns: repeat(4,25%);
	grid-auto-flow: row;
	gap: 0px;
	overflow-wrap: normal;
}
.responsive {
  padding: 6px;
  float: left;
  width: 100%;
  margin:3px 12px;
}

.responsive a{
	display: block;
	border: 1px solid #ccc;
}

.responsive a:hover {
  border: 1px solid #777;
}

.responsive figcaption{
  padding: 15px;
  text-align: center;
  display: none;
}


@media only screen and (max-width: 700px) {
  .responsive {
    margin: 6px 0; 
 }
  main .gallerie{
  grid-template-columns: repeat(2,49.99999%);
}
}

@media only screen and (max-width: 500px) {
  main .gallerie
  {
  grid-template-columns: repeat(1,100%);
}
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*    Blog    */
main.blog{
	display: flex;
	width: 100%;
}

main.blog aside{
	width: 20%;
	box-shadow: inset 0 0 1px 0.2px black;
}

main.blog section{
	width: 80%;
}

.deroulant{
	width: 100%;
  position: relative;
  display: inline-block;
 margin: 10% 10% 0;
 /*  transform: translateX(-25%);*/
}

button.deroulant--bouton{
  background-color: #4C42f2;
  color: white;
  width: 80%;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

menu.cat--container {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.cat--container a {
  color: black;
  padding-block: 12px 16px;
  display: block;
  
}

.cat--container a:hover {
	background-color: whitesmoke;
	box-shadow: 0 0 1px 0.2px black;
	margin-bottom: 2px;
	color: #4C42f2;
	width: 100%;
}

.deroulant:hover menu.cat--container{
  display: block;
  text-align: center;
  box-shadow: 0 0 1px 0.2px black;
}

.deroulant:hover .deroulant--bouton {
  background-color: whitesmoke;
  color: #4C42f2;
}




/*   Faq    */





/*   Contact    */